  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link collapsed" [routerLink]="['/dashboard']">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link collapsed" [routerLink]="['/document']">
          <i class="bi bi-book"></i>
          <span>Leer Documento</span>
        </a>
      </li>
    </ul>
  </aside>