<div class="pagetitle">

    <br>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html"> <i class="bx bxs-home"></i>   Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <br>
  <section class="section">
    <div class="container">
      <div class="py-5 text-center">
          <img class="d-block mx-auto mb-4" width="50%" src="../../../assets/img/undraw_Domain_names_re_0uun.svg" alt="">
          <h1> <i class="bi bi-search"></i>  Buscar Cliente</h1>
          <small> En esta sección podrás visualizar y descargar todos los movimientos asociados a tu negocio.</small>
      </div>
    </div>
    

      <div class="card-body center-block">
          <div class="form-body">
              <div class="row p-t-20">
                  <div class="row" >
                      <form class=" col-md-12 p-t-20 mt-4 form-inline">
                          <div class="input-group">
                              <input type="text" class="form-control border-0 small" placeholder="Buscar ..." name="filterReport"  aria-label="Search">
                              <div class="input-group-append">
                                  <button class="btn btn-primary" type="button">
                                    <i class="bi bi-search"></i>
                                  </button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>

      
      <section class="section dashboard">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-xxl-3 col-md-3">
                <div class="card info-card sales-card">
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  </div>
  
                  <div class="card-body">
                    <h5 class="card-title">Inventario</h5>
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-cart"></i>
                      </div>
                      <div class="ps-3">
                        <h6>25.769</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-xxl-3 col-md-3">
                <div class="card info-card revenue-card">
                  <div class="filter">
                    <a class="icon"  data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Activo Corriente</h5>
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-currency-dollar"></i>
                      </div>
                      <div class="ps-3">
                        <h6>$78.828</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-xxl-3 col-xl-3">
                <div class="card info-card customers-card">
                  <div class="filter">
                    <a class="icon" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Clientes</h5>
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-people"></i>
                      </div>
                      <div class="ps-3">
                        <h6>32.733</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xxl-3 col-xl-3">
                <div class="card info-card">
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Customers</h5>
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-people"></i>
                      </div>
                      <div class="ps-3">
                        <h6>1244</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="section">
        <div class="row">
          <div class="col-lg-4">
  
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Información del Cliente</h5>
                <form>
                  <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">NIT</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" value="899999068" disabled>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputEmail" class="col-sm-4 col-form-label">Razón Social</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" value="ECOPETROL" disabled>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputPassword" class="col-sm-4 col-form-label">Supervisor</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" value="SUPERFINANCIERA" disabled>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputNumber" class="col-sm-3 col-form-label">Región</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" value="CENTRO - ORIENTE" disabled>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Macrosector</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" value="MINERO" disabled>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-sm-12">
                      <textarea class="form-control" style="height: 300px" disabled>Compañia con 17 años en el Mcdo, con ventas de mas de 500 mil millons y una disminucion de sus ingresos del 11%. Muestra para el 2020 una utilidad neta del 1,2%, muy similar a la del 2019. presenta una rotacion de cartera de 21 dias, superior a los dias de pago de sus proveedores. Dandole un ciclo de caja de 26 dias. presenta un capital de trabajo de 25 mil millones de pesos, muy ajustado para cubrir sus obligaciones de corto plazo
                      </textarea>
                    </div>
                  </div>
                </form>
              </div>
            </div>
  
          </div>
  
          <div class="col-lg-8">
  
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Ingresos</h5>
                <table class="table table-bordered table-responsive table-hover">
                  <thead class="thead-dark text-center">
                    <tr>
                      <th scope="col">AÑO</th>
                      <th scope="col">INGRESOS OPERACIONALES</th>
                      <th scope="col">GANANCIA (PERDIDA)</th>
                      <th scope="col">TOTAL ACTIVOS</th>
                      <th scope="col">TOTAL PASIVOS</th>
                      <th scope="col">TOTAL PATRIMONIO</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center">
                      <td>2015</td>
                      <td>$38.348.460.178</td>
                      <td>$38.348.460.178</td>
                      <td>$38.348.460.178</td>
                      <td>$38.348.460.178</td>
                      <td>$38.348.460.178</td>
                    </tr>
                    
                  </tbody>
                </table>

              </div>
            </div>

            <div class="row">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Indicadores</h5>
    
                  <!-- List group with custom content -->
                  <ol class="list-group list-group-numbered">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Subheading</div>
                        Cras justo odio
                      </div>
                      <span class="badge bg-primary rounded-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Subheading</div>
                        Cras justo odio
                      </div>
                      <span class="badge bg-primary rounded-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Subheading</div>
                        Cras justo odio
                      </div>
                      <span class="badge bg-primary rounded-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Subheading</div>
                        Cras justo odio
                      </div>
                      <span class="badge bg-primary rounded-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Subheading</div>
                        Cras justo odio
                      </div>
                      <span class="badge bg-primary rounded-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Subheading</div>
                        Cras justo odio
                      </div>
                      <span class="badge bg-primary rounded-pill">14</span>
                    </li>
                  </ol><!-- End with custom content -->
    
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section table-responsive">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Resultados</h5>

            <!-- Bordered Table -->
           
            <br>
            <h5 class="card-title">Grafica</h5>
            <div style="text-align:center">
              <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [xaxis]="chartOptions.xaxis"
                [title]="chartOptions.title"
              ></apx-chart>
            </div>
            
          </div>
        </div>

      </section>

      <section class="section">
        
      </section>
      
  </section>